llama-index==0.14.25
llama-index-vector-stores-qdrant==0.10.3
llama-index-embeddings-ollama
llama-index-embeddings-fastembed
fastembed
llama-index-llms-ollama
llama-index-llms-openai
llama-index-readers-file
qdrant-client
python-dotenv
pydantic
fastapi
uvicorn
python-multipart
python-dateutil
pypdf
